:root {
  --background-main-color: rgb(9 9 15);
  --background-medium-color: rgb(15 15 25);
  --background-light-color: rgb(21 20 36);
  --border-color: rgb(34 33 59);
  --text-color: #fff;
  --accent-color: rgb(219 17 235);
  --accent-hover-color: rgb(142 9 152);
  --container-width: 1920px;
  --aside-width: 256px;
  --header-height: 80px;
  --mob-tabs-height: 66px;
  --transition: .3s ease-in-out;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #7B7297 #7B7297;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  display: block;
}

ul,
p {
  padding: 0;
  list-style: none;
  margin: 0;
}

.f-14-bold {
  font-size: 14px;
  font-weight: 700;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-24-16 {
  margin-bottom: 24px;
}
.mb-40-32 {
  margin-bottom: 40px;
}

.ovf-scroll {
  scrollbar-width: none;
}
.ovf-scroll::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
}

.body {
  margin: 0;
  min-height: 100%;
  font-family: "Inter", Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-main-color);
}

.page-container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
}

.header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-main-color);
}
.header__inner {
  margin: 0 auto;
  padding: 20px 40px 20px calc(35px + var(--aside-width));
  width: 100%;
  max-width: var(--container-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.sport-btn {
  position: relative;
  border: 2px solid var(--border-color);
  border-radius: 24px;
  padding: 4px 18px 4px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color);
  overflow: hidden;
}
.sport-btn::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -5px;
  display: block;
  width: 49px;
  height: 49px;
  background-color: #db11eb;
  filter: blur(6px);
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
}
.sport-btn__icon {
  width: 28px;
  height: 28px;
}

.mob-logo-link {
  display: none;
}

.header-right-part {
  display: flex;
  align-items: center;
  gap: 16px;
}

.enter-btn {
  color: var(--accent-color);
}

.pink-btn {
  border-radius: 100px;
  padding: 9px 24px;
  background-color: var(--accent-color);
  background-image: linear-gradient(to bottom, #EA0FFB, #8B0995);
  color: var(--text-color);
  box-shadow: inset 0 0 0 0 #fff, inset 0 0 0 0 rgb(255 255 255 / .1), 0 0 5px 4px rgba(250, 87, 255, .1);
}
.pink-btn.pink-btn--big {
  padding: 14px 32px;
}

.aside {
  position: fixed;
  z-index: 5;
  top: 0;
  padding-top: var(--header-height);
  width: var(--aside-width);
  height: 100dvh;
  background-color: var(--background-medium-color);
  overflow-y: auto;
}

.aside-top {
  position: fixed;
  z-index: 4;
  top: 0;
  width: var(--aside-width);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-medium-color);
}

.logo-link {
  width: 147px;
  height: 24px;
}
.logo-link img {
  object-fit: contain;
  object-position: center center;
}

.nav-list {
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
}

.nav-list__link {
  border-radius: 32px;
  padding: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #6360A3;
  background-color: var(--background-light-color);
  transition: color var(--transition);
}
.nav-list__link.active {
  color: var(--text-color);
  font-weight: 700;
  background-image: url("../assets/img/icons/side-menu-gradient.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-list__link.active .nav-list__link-icon {
  background-color: var(--accent-color)
}
.nav-list__link-icon {
  flex-shrink: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgb(28 27 48);
  transition: background-color var(--transition);
}
.nav-list__link-icon svg {
  width: 50%;
  height: 50%;
}
.nav-list__link span:nth-child(2) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nav-list__link-label {
  margin-left: auto;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: var(--text-color);
  background-color: rgb(40 148 148);
}

.bonuse-btn {
  position: relative;
  margin-top: 6px;
  border: 2px solid var(--border-color);
  border-radius: 32px;
  padding: 2px 20px;
  display: flex;
  gap: 8px;
  background-color: var(--background-light-color);
  font-size: 14px;
  line-height: 20px;
}
.bonuse-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  overflow: hidden;
}

.bonuse-btn__icon {
  flex-shrink: 0;
  margin-top: -6px;
  width: 50px;
  height: 50px;
}

.bonuse-btn__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bonuse-btn__text span:first-child {
  color: var(--text-color);
  font-weight: 700;
}
.bonuse-btn__text span:last-child {
  color: rgb(99 96 163);
}

.bonuse-big-btn {
  position: relative;
  border: 1px solid transparent;
  border-radius: 24px;
  padding: 28px 16px 14px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-image: url('../assets/img/bonuse/bonuses-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 20px;
  color: var(--text-color);
}
.bonuse-big-btn__text {
  display: flex;
  flex-direction: column;
}
.bonuse-big-btn__text span:last-child {
  color: var(--accent-color);
}
.bonuse-big-btn__get {
  border: 2px solid rgb(208 41 212);
  border-radius: 32px;
  padding: 6px 8px;
  width: fit-content;
}
.bonuse-big-btn__img {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: calc(100% + 11px);
  aspect-ratio: 128 / 137;
}

.main__inner {
  padding: var(--header-height) 40px 0 calc(var(--aside-width) + 40px);
}

.banner {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  padding: 24px;
  min-height: 347px;
}
.banner__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.banner__bg img {
  object-position: center right;
}
.banner__info {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.banner__link {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #db11eb;
}
.banner__link::before {
  content: "";
  position: absolute;
  inset: 0;
}
.banner__text {
  display: flex;
  flex-direction: column;
}
.banner__payment {
  margin-top: 14px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.banner__payment img {
  height: 24px;
  width: auto;
}
.banner__info .pink-btn {
  margin-top: 24px;
  width: fit-content;
}

.banner-card-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.banner-card {
  position: relative;
  width: 100%;
  max-height: 180px;
  aspect-ratio: 352 / 141;
  color: var(--text-color);
}
.banner-card:nth-child(1) .banner-card__label {
  background-color: rgb(139 11 184);
}
.banner-card:nth-child(2) .banner-card__label {
  background-color: rgb(96 34 19);
}
.banner-card:nth-child(3) .banner-card__label {
  background-color: rgb(9 45 14);
}
.banner-card__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 16px;
  overflow: hidden;
}
.banner-card__info {
  padding: 12px 24px;
  max-width: 67%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  height: 100%;
}
.banner-card__label {
  border-radius: 9999px;
  padding: 4px 8px;
  width: fit-content;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}
.banner-card__title::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}
.banner-card__btn {
  flex-shrink: 0;
  border: 2px solid var(--accent-color);
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-card__btn svg {
  width: 16px;
  height: 16px;
}
.banner-card__img {
  position: absolute;
  top: -15%;
  right: 0;
  height: 110%;
  width: auto;
  transform-origin: bottom;
  transition: transform var(--transition);
}

.search__inputs-line {
  display: grid;
  grid-template-columns: auto 292px;
  gap: 16px;
}
.search__input {
  border: 2px solid rgb(40 39 69);
  border-radius: 24px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(99 96 163);
}
.search__input-icon {
  display: block;
  width: 16px;
  height: 16px;
}

.search__tegs-bg-line {
  border-radius: 100px;
  padding: 8px;
  display: flex;
  gap: 16px;
  background-color: var(--background-medium-color);
  overflow-x: auto;
}
.search__teg-bg {
  border-radius: 100px;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.search__teg-bg.active {
  background-color: rgb(47 11 48);
}

.search__tegs-line {
  display: flex;
  gap: 8px;
  overflow-x: auto;
}
.search__teg {
  border: 2px solid var(--background-light-color);
  border-radius: 100px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
}

.games {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.games__block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.games__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.games__title {
  font-size: 24px;
  font-weight: 700;
}
.games__header-btns {
  display: flex;
  align-items: center;
}
.games__all-btn {
  margin-right: 16px;
  color: rgb(92 128 255);
  font-size: 14px;
  line-height: 20px;
}
.games__scroll-btns-wrap {
  display: flex;
  gap: 8px;
}
.games__scroll-btn {
  border: 2px solid transparent;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(47 11 48);
}
.games__scroll-btn svg {
  width: 16px;
  height: 16px;
}

.games__wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-x: auto;
}
.games__wrap::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 56px;
  right: 0;
  width: 8%;
  height: calc(100% - 56px);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}
.games__line {
  display: flex;
  gap: 16px;
}

.games__item {
  flex-shrink: 0;
  position: relative;
  border-radius: 16px;
  width: 180px;
  background-color: var(--background-light-color);
  overflow: hidden;
}
.games__item-img {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.games__item-img > img {
  transition: transform .15s .15s cubic-bezier(.4,0,.2,1);
}
.games__item-filter {
  position: absolute;
  inset: 0;
  background-color: rgb(28 27 48 / 0.7);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  opacity: 0;
  transition: opacity .15s cubic-bezier(.4,0,.2,1);
}
.games__item-label {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 100px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  background-color: rgb(40 148 148);
  transition: transform .15s cubic-bezier(.4,0,.2,1);
}
.games__item-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 56px;
  transform: translate(-50%, 180px);
  opacity: 0;
  transition: transform .15s cubic-bezier(.4,0,.2,1);
}
.games__item-info {
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
}
.games__item-name {
  line-height: 20px;
}
.games__item-name::before {
  content: "";
  position: absolute;
  inset: 0;
}
.games__item-genre {
  font-size: 12px;
}
.games__item-name,
.games__item-genre {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
  padding: 120px 40px 24px calc(var(--aside-width) + 40px);
  display: flex;
  flex-direction: column;
}
.footer__info {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  gap: 86px;
}
.footer__text-part {
  max-width: 485px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__logo-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}
.footer__logo {
  width: 147px;
  aspect-ratio: 147 / 24;
}
.footer__logo img {
  object-fit: contain;
  object-position: center center;
}
.footer__logo-tg {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
}
.footer__logo-tg-icon {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--background-light-color);
}
.footer__logo-tg-icon img {
  width: 50%;
  height: 50%;
}
.footer__text {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
}

.footer__nav {
  display: flex;
}
.footer__nav-item {
  min-width: 126px;
  max-width: 192px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__nav-item-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: var(--accent-color);
}
.footer__nav-arrow {
  display: none;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
}

.footer__partners {
  margin: 24px 0;
  display: flex;
  gap: 45px;
  overflow-x: auto;
}
.footer__partners-item {
  flex-shrink: 0;
}
.footer__partners-item img {
  width: auto;
  height: 32px;
  opacity: 0.4;
}

.footer__platforms {
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.footer__platforms-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.footer__platforms-item.antillephone img {
  width: 60px;
  height: 60px;
}
.footer__platforms-item.gcb img {
  width: 60px;
  height: 34px;
}
.footer__platforms-item.age img {
  width: 40px;
  height: 40px;
}
.footer__platforms-item.combotech img {
  width: 136px;
  height: 36px;
}
.footer__platforms-item.kedsesa img {
  width: 88px;
  height: 34px;
}
.footer__platforms-right {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
.footer__platforms-item-mob img {
  width: auto;
  height: 32px;
}

.footer__copyright {
  padding-top: 24px;
  font-size: 12px;
  line-height: 16px;
  color: rgb(123 114 151);
}

@media (any-hover: hover) {
  .sport-btn:hover {
    border-color: var(--accent-hover-color);
  }
  .sport-btn:hover::before {
    opacity: 0.4;
  }

  .pink-btn:hover {
    background-image: linear-gradient(to bottom, #EE1DFF, #EE1DFF);
  }

  .nav-list__link:not(.active):hover {
    color: var(--text-color);
    background-image: linear-gradient(2.58deg, #1c1b30 2.09%, #151424 97.78%);
  }
  .nav-list__link:not(.active):hover .nav-list__link-icon {
    background-color: var(--accent-color);
  }

  .bonuse-btn:hover {
    border-color: var(--accent-hover-color);
  }
  .bonuse-btn:hover::before {
    background: linear-gradient(79deg, #09000f 28%, #61057a 65%);
  }
  .bonuse-btn:hover .bonuse-btn__icon {
    transform: scale(1.1);
  }

  .bonuse-big-btn:hover {
    border-color: var(--accent-hover-color);
  }
  .bonuse-big-btn:hover .bonuse-big-btn__get {
    background-color: rgb(238 29 255);
  }

  .banner:hover .pink-btn {
    background-image: linear-gradient(to bottom, #EE1DFF, #EE1DFF);
  }

  .banner-card:hover .banner-card__img {
    transform: scale(1.1);
  }

  .search__input:hover {
    border-color: rgb(75 72 122);
  }

  .search__teg-bg:not(.active):hover {
    background-color: rgb(28 27 48);
  }

  .search__teg:hover {
    border-color: rgb(75 72 122);
  }

  .games__scroll-btn:hover {
    border-color: rgb(75 72 122);
  }

  .games__item:hover .games__item-btn {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .games__item:hover .games__item-label {
    transform: translateY(-200%);
  }
  .games__item:hover .games__item-img > img {
    transform: scale(1.1);
  }
  .games__item:hover .games__item-filter {
    opacity: 1;
  }

  .footer__partners-item:hover img {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: var(--header-height);
  }
  .mob-tabs {
    display: none;
  }
  .footer__nav-item:not(:nth-child(3)) {
    margin-right: 86px;
  }
  .footer__nav-item-header {
    width: fit-content;
  }
}

@media screen and (max-width: 1280px) {
  .banner-card__info {
    padding: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-24-16 {
    margin-bottom: 16px;
  }
  .mb-40-32 {
    margin-bottom: 32px;
  }

  .body {
    padding-bottom: calc(var(--mob-tabs-height));
  }

  .header__inner {
    padding: 12px 16px;
  }

  .sport-btn {
    display: none;
  }

  .mob-logo-link {
    padding: 0 4px;
    display: inline-block;
    width: 63px;
    height: 22px;
  }

  .mob-logo-link img {
    object-fit: contain;
    object-position: center center;
  }

  .header-right-part {
    gap: 24px;
  }

  .aside {
    display: none;
  }

  .mob-tabs {
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 16px;
    width: 100%;
    background-color: var(--background-medium-color);
  }
  .mob-tabs__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .mob-tabs__item {
    position: relative;
    padding: 14px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    line-height: 16px;
  }
  .mob-tabs__item.deposit {
    padding: 10px 0;
  }
  .mob-tabs__item.active {
    font-weight: 700;
  }
  .mob-tabs__item.active::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 2px;
    border-radius: 32px;
    width: 24px;
    height: 4px;
    transform: translateX(-50%);
    background-color: #db11eb;
  }
  .mob-tabs__item-icon {
    width: 16px;
    height: 16px;
  }
  .mob-tabs__item-icon-wrap {
    margin-top: -14px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
  }

  .main__inner {
    padding: calc(var(--header-height) - 8px) 16px 0 16px;
  }

  .search__inputs-line {
    display: flex;
    flex-direction: column;
  }

  .search__tegs-bg-line {
     border-radius: 0;
    padding: 0;
    gap: 0;
    background-color: transparent;
  }
  .search__teg-bg {
    width: 25%;
    min-width: fit-content;
  }

  .games__scroll-btns-wrap {
    display: none;
  }

  .footer {
    padding: 32px 16px;
  }
  .footer__info {
    margin-bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 64px;
  }
  .footer__text-part {
    margin-right: 86px;
    max-width: 100%;
  }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .footer__nav-list {
    display: none;
  }
  .footer__nav-item {
    min-width: fit-content;
    max-width: none;
  }
  .footer__nav-item-header {
    border-radius: 24px;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    background-color: var(--background-light-color);
  }
  .footer__nav-item-title {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__nav-arrow {
    display: flex;
    width: 16px;
    height: 16px;
  }
  .footer__platforms-left {
    gap: 18px;
  }
}

@media screen and (max-width: 1169px) {
  .banner-card-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-card:nth-child(3) {
    display: none;
  }
  .banner-card__info {
    padding: 12px 24px;
  }
  .banner-card__btn {
    width: 28px;
    height: 28px;
  }

  .games__wrap .games__line:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 879px) {
  .banner__bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
  }
  .banner__info {
    padding-left: 0;
  }
  .banner__link {
    font-size: 24px;
    line-height: 28px;
  }

  .banner-card-wrap {
    display: flex;
    flex-direction: column;
  }
  .banner-card:nth-child(2) {
    display: none;
  }

  .games__item {
    width: 164px;
  }

  .footer__info {
    gap: 48px;
  }
  .footer__text-part {
    margin-right: 8px;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .footer__platforms {
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .footer__platforms-left {
    order: 2;
    gap: 16px;
  }
  .footer__platforms-item-mob img {
    height: 46px;
  }
}

@media screen and (max-width: 639px) {
  .footer__platforms-left {
    gap: 10px;
  }
  .footer__platforms-item.antillephone img {
    width: 48px;
    height: 48px;
  }
  .footer__platforms-item.gcb img {
    width: 48px;
    height: 27px;
  }
  .footer__platforms-item.age img {
    width: 32px;
    height: 32px;
  }
  .footer__platforms-item.combotech img {
    width: 116px;
    height: 30px;
  }
}